#sidebar.container {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  justify-content: space-between;
  background-color: rgb(249, 250, 251);
}

.container-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 35px;
  height: 35px;
}

.grey {
  width: 50px;
  border: 2px solid rgb(228, 231, 235);
  margin-top: -20px;
}

.n-1 {
  margin-top: 27px;
}

.n-2 {
  margin-bottom: 62px;
}
