#card.container {
  width: 25%;
  height: 40%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.6em;
}

.name-rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name-rating h1 {
  margin: 0;
  margin-top: 2%;
  padding: 0;
}

.terms {
  margin-top: 25%;
  margin-left: 5px;
  display: flex;
  gap: 10px;
}

.star-rating {
  font-size: 2.2em;
  color: rgb(186, 141, 229);
}

.review {
  color: rgb(150, 150, 150);
  font-size: 1em;
}

.desc {
  margin-top: 15px;
  font-size: 1.1em;
}

.bubble {
  border-radius: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(204, 235, 246);
  font-size: 0.9em;
}
